body {
  box-sizing: border-box;
  font-size: 10px;
}
header {
  border: 5px solid black;
}
header h1 {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}
.calendar-container {
  border: 5px solid blue;
  width: 100%;
  height: 100%;
}

/* todos style */
.todos-container {
  border: 5px solid red;
  width: 100%;
  height: 100%;
}
.todos-main {
  text-align: center;
  font-weight: 700;
}
.todos-main .todos-date {
  padding: 2rem 0 1rem;
  font-size: 4rem;
}
.todos-main .todos-day {
  padding: 1rem 0 1.5rem;
  font-size: 2rem;
}
.todos-main .todos-input {
  border: 0;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 1rem;
}
